.character-selection-container {
  padding: 20px 40px;
  width: 400px;
  margin-left: 50px;

  h2 {
    color: #fff;
  }
}

.carousel-container > div:first-of-type {
  margin-bottom: 20px;
}

.navigation-bar {
  background-color: #f1e76d;
  border-radius: 5px;
  padding: 7px;
  width: 235px;
  margin: 0 auto;
  margin-top: 25px;

  img {
    cursor: pointer;
    width: 14px;
  }
}

.character-description {
  position: absolute;
  right: 145px;
  width: 600px;
  color: #fff;
  top: 110px;
  text-align: left;
  font-size: 17px;

  .title {
    color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
    display: table;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .description-paragraph {
    margin-bottom: 15px;
  }
}

.player-area {
  height: 100px;
  position: relative;

  background: url(../../images/scenarios/initial.png) no-repeat;
  background-size: 600px 208px;

  .keyboard-hint-image {
    background-image: url(../../images/keyboard-hint.png);
    width: 83px;
    height: 54px;
    position: absolute;
    bottom: 8px;
    right: 3px;
    background-size: 81px 69px;
  }

  .keyboard-hint-text {
    position: absolute;
    right: 0;
    bottom: -25px;
    color: #565353;
  }
}
