.messages-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card {
  width: 300px;
  margin: 16px 4px 0 4px;
}

.right-card {
  align-self: flex-end;
}

.left-card {
  align-self: flex-start;
}

.ant-card-meta-detail {
  text-align: left;
}
