.container {
  background: url(../../images/scenarios/common-room.jpg) no-repeat;
  object-fit: cover;
  width: 100%;
  height: 100%;

  .theme {
    width: 100%;
  }

  .theme-item {
    margin-bottom: 10px;
  }

  .required {
    border-color: red;
  }

  .loading {
    border-radius: 10px;
  }
}
