.admin {
  h1, h2 {
    color: #f1f1ed;
  }

  .semaphore {
    border-radius: 50%;
    width: 13px;
    height: 13px;
    margin-right: 10px;
    display: inline-grid;
  }

  .green-semaphore {
    background-color: green;
  }

  .red-semaphore {
    background-color: red;
  }

  .player-box {
    text-align: left;
    width: 250px;
    height: 230px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #fff;
    padding-left: 10px;
    border-radius: 5px;
  }

  .players-container,
  .quiz-answers-container {
    display: inline-block;
    clear: both;
    width: 100%;
    margin: 25px auto;
  }

  .quiz-answer-card {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: white;
    padding: 25px;

    h2 {
      background-color: #f1e76d;
      color: #000;
      margin: 0;
      padding: 0 5px;
      margin-bottom: 10px;
    }
  }
}
